{% extends "loan/layout.html" %}
{% block content %}
  <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ object.first_name }} {{object.last_name}}</a>
          <small class="text-muted">Doc: {{ object.document }} - Requested date: {{ object.requested_date|date:"F d, Y" }}</small>
        {% if user.profile.superuser %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'loan-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'loan-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
        </div>
        <h2 class="article-title">$ {{ object.amount }}</h2>
        <p class="article-content">Status:{% if object.approved %} Approved{% else %} Not approved{% endif %}</p>
      </div>
    </article>
{% endblock content %}
