{% extends "loan/layout.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.name }} {{object.last_name}}</a>
        <small class="text-muted">Requested date: {{ object.requested_date|date:"F d, Y" }}</small>
      </div>
      <h2 class="article-title">$ {{ object.amount }}</h2>
      <p class="article-content">Status: {{ object.gender }}</p>
    </div>
  </article>
{% endblock content %}
